@model Uncas.NowSite.Web.Models.ReadModels.BlogPostReadModel
@{
    ViewBag.Title = "Blog post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Blog post details</h2>
<fieldset>
    <div class="display-label">
        Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">
        Content</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
    <div class="display-label">
        Created</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created)
    </div>
    <div class="display-label">
        Published</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Published)
    </div>
</fieldset>
@foreach (var picture in Model.Pictures)
{
    <a href="@picture.PictureUrl" class="BlogPostPicture">
        <img src="@picture.PictureUrl" alt="Blog post picture" />
    </a>
}
@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { controller = "BlogPost", id = Model.Id })
    </p>
}