@model IEnumerable<Uncas.NowSite.Web.Models.ReadModels.BlogPostReadModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Nyheder</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <h3>
                @Html.ActionLink(item.Title, "Details", new { id = item.Id })
            </h3>
            <div>
                @Html.DisplayFor(modelItem => item.Content)
            </div>
            @if (item.PrimaryPicture != null)
            {
                <div>
                    <a href="@item.PrimaryPicture.PictureUrl" class="BlogPostPicture">
                        <img src="@item.PrimaryPicture.PictureUrl" alt="Blog post picture" />
                    </a>
                </div>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                    @Html.ActionLink(
                        "Edit",
                        "Edit",
                        new { Controller = "BlogPost", id = item.Id })
                    @using (Html.BeginForm(
                        "Delete",
                        "BlogPost",
                        new { id = item.Id }))
                    {
                        <input type="submit" value="Delete" />
                    }
                </div>
            }
            <div>
                Oprettet @Html.DisplayFor(modelItem => item.Created)
            </div>
            <div>
                Offentliggjort @Html.DisplayFor(modelItem => item.Published)
            </div>
        </li>
    }
</ul>
