@using StackExchange.Profiling;
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <meta name="revised" content="@ViewBag.Revised" />
    <meta http-equiv="Content-Language" content="da" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    <div id="header">
        <h1>
            uncas.dk</h1>
        <ul id="menu">
            <li>@Html.ActionLink("Forside", "Index", "Home")</li>
            <li>@Html.ActionLink("Nyheder", "Index", "BlogPost")</li>
            <li>@Html.ActionLink("Ændringer", "Changes", "Home")</li>
            @if (User.Identity.IsAuthenticated)
            {
                <li>Logget på som @User.Identity.Name</li>
                <li>@Html.ActionLink("Log af", "LogOff", "Authentication")</li>
            }
            else
            {            
                <li>@Html.ActionLink("Log på", "LogOn", "Authentication")</li>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <li>@Html.ActionLink("Opret nyhed", "Create", "BlogPost")</li>
                <li>@Html.ActionLink("Administrér nyheder", "Admin", "BlogPost")</li>
                <li><a href="/elmah">Fejl</a></li>
            }
        </ul>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
    </div>
    @MiniProfiler.RenderIncludes()
</body>
</html>
