<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="revised" content="@ViewBag.Revised" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>
<body>
    <div id="header">
        <h1>
            @Html.ActionLink("Nu", "Index", "Home")</h1>
        <ul>
            @if (User.Identity.IsAuthenticated)
            {
                <li>Logged on as @User.Identity.Name</li>
                <li>@Html.ActionLink("Log off", "LogOff", "Authentication")</li>
            }
            else
            {            
                <li>@Html.ActionLink("Log on", "LogOn", "Authentication")</li>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <li>@Html.ActionLink("Create blog post", "Create", "BlogPost")</li>
                <li>@Html.ActionLink("Blog posts", "Index", "BlogPost")</li>
            }
        </ul>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        <h4>
            Other sites</h4>
        <ul>
            <li><a href="http://olelynge.blogspot.com">Blog</a></li>
            <li><a href="http://www.fyldepennen.dk/forfatter/?id=609">Digte</a></li>
        </ul>
        <div>
            <h4>
                Software development</h4>
            <ul>
                <li><a href="http://stackoverflow.com/users/41094/ole-lynge">stackoverflow</a></li>
                <li><a href="http://github.com/uncas">GitHub</a></li>
                <li><a href="http://nuget.org/profiles/uncas">NuGet</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
